{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
      <title>Ndoma. Collins Ndoma </title>
  <link rel="stylesheet" href="{% static 'css/navmain.css' %}">
  <style> 
  body {
      margin: 0;
      background-color: #fff ;
      font-size: 12px;
      font-family: 'Source Sans Pro', sans-serif;
      -webkit-font-smoothing: subpixel-antialiasing;
    }
    .skillsss {
      column-count: 3;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: left;
      font-family: arial;
    }
    
    .price {
      color: grey;
      font-size: 22px;
    }
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: left;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    .card button:hover {
      opacity: 0.7;
    }
  </style>
 </head>
      <body>
      <div class="page">
          <div class="section row">
              <h1 >Ndoma, Collins Ndoma</h1>
              <h3>Full stack Web Developer</h3>
              <h5>Remote, Freelancer</h5>

              <div class="contact-info col-right">
                  <table >
                    <tr>
                      <td >+2347062057412</td>
                      <td>ndomacollins85@gmail.com</td>
                    </tr>
                    <tr>
                      <td>https://www.linkedin.com/in/collins-ndoma-2831b4196</td>
                      <td>www.mac.io</td>
                    </tr>
                  </table>
                </div>
          </div>
          <div class="section row">
              <h2 class="col">Summary</h2>
              <div class="section-text col-right"><span class="key">
                A team of dedicated, professional, and highly motivated engineers who have been participated in different projects. Proficient
                in a wide variety of engineering software. Excellent communication and time management skills. Reliable and
                strives to go above and beyond to deliver a project that meets and exceeds the expectations of the client.
              </div>
          </div>
          <h2 class="col">Experience</h2>
          <table>

         <div class="card">
          <tr>
          <td><h5>Affiliate marketer</h5></td>
          <td><h5>Full Stack Web Developer at Upwork</h5></td>
        </tr>
        <tr>
          <td><p>Oct 2022 - Present</p></td>
        <td><p>Jan 2023 - Present</p></td>
      </tr>  
    <tr>
    <td><p>I am Manager and instructor at Nacruum driving Academy.</p></td>
    <td><p>I have been working on the deployment of websites
                </p></td>
        </tr>
</table>
<br>
<table>

  <div class="card">
   <tr>
   <td><h5>Accountant at Daricon Ltd</h5></td>
   <td><h5>Supervisor at Silver bird farms</h5></td>
 </tr>
 <tr>
 <td><p>Aug.,2018 - Sept., 2019</p></td>
 <td><p>Feb, 2020 - Oct 2021</p></td>
</tr>  
<tr>
<td><p>Besides my education, I have been working as an instructor.</p></td>
<td><p>I have been working as a Freelance full stack website developer for
  clients on a different projects which meets and exceeds their expectations.</p></td>
 </tr>
</table>
<br>
          <div class="section row">
            <h2 class="col">Skills</h2>
            <div class="skills">
            <div class="section-text col-right row">
                <table >
                  <tr>
                    <td >Django</td>
                    <td>HTML</td>
                    <td>CSS</td>

                  </tr>
                  <tr>
                    <td>Python</td>
                    <td>Java</td>
                    <td>C</td>
                  </tr>
                  <tr>
                    <td>CyberSecurity Analyst</td>
                    <td>PLC Programing</td>
                    <td>JavaScript</td>
                  </tr>
                </table>

              </div>
          </div>
        </div>
          <div class="section row">
              <h2 class="col">Education</h2>
              <div class="section-text col-right">
                  <h3><span class="emph">Bachelor Degree </span> in accounting</h3>
                  <div>University of Cross River State (cum-laude)
                  </div>
                  <div class="row">
                      <div class="col-right light">2010-2014</div>
                  </div>
              </div>
          </div>
<br>


  <h2 class="col">Licenses & Certifications</h2>
          <table >
          <div class="card">
              <tr>
                <td><h5>Fullstack Software Developer </h5></td>
                <td><h5>CyberSecurity Analyst </h5></td>
              </tr>
              <tr>
              <td >from ALX in 2023</td>
              <td>from CISCO/GIZ in 2022</td>
            </tr>
            <tr>
              <td><p>Develop and maintain software applications that work seamlessly across the entire technology stack. This includes developing the frontend user interface, creating APIs and backend server-side logic, designing and managing databases, and ensuring that the entire system is scalable, secure, and optimized for performance.
                experts.
              </p></td>
              <td><p> Protecting an organization's sensitive information and assets from cyber threats. It requires a strong understanding of the latest security threats and trends, as well as the ability to think strategically and develop effective security strategies and policies.
                </p> </td>
            </tr>
          </div>
          </table>
          
      </div>
  </body>
</html>
